<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container mt-5">
      <div class="login-container">
        <h2>Login</h2>
        <form id="myForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" value="submit" class="btn btn-primary">
            Login
          </button>
        </form>
      </div>
    </div>

    <!-- Add the Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
      document
        .getElementById("myForm")
        .addEventListener("submit", async function (e) {
          e.preventDefault(); // Prevent the form from submitting the traditional way

          // Collect form data
          const formData = {
            user_id: document.getElementById("username").value,
            password: document.getElementById("password").value,
          };

          // Convert the data to JSON
          const jsonData = JSON.stringify(formData);

          // Send a POST request to your FastAPI endpoint
          const response = await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: jsonData,
          });
        });
    </script>
  </body>
</html>
